<phpunit bootstrap="tests/bootstrap.php" colors="true" verbose="true">
	<php>
		<env name="DB_DSN" value="mysql:host=localhost;dbname=cactus_test;" />
		<env name="DB_NAME" value="cactus_test" />
		<env name="DB_USER" value="root" />
		<env name="DB_PASS" value="" />
	</php>

	<testsuites>
		<testsuite name="Cactus ORM Test Suite">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<blacklist>
			<directory suffix=".php">tests/classes/</directory>
		</blacklist>
	</filter>

	<logging>
		<log type="coverage-html" target="developer/coverage" charset="utf-8" />
	</logging>
</phpunit>