<phpunit bootstrap="tests/bootstrap.php" colors="true" verbose="true">
	<testsuites>
		<testsuite name="Cactus ORM Test Suite">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<blacklist>
			<file>classes/SplClassLoader.php</file>
			<directory>classes/Peyote</directory>
			<directory suffix=".php">tests/classes/</directory>
		</blacklist>
	</filter>

	<logging>
		<log type="coverage-html" target="coverage" charset="utf-8" />
	</logging>
</phpunit>