/**
 * Default Themer for LiveAPI.
 * 
 * This was based off the PHP doc site!
 *
 * @package LiveAPI
 * @author  Dave Widmer <dwidmer@bgsu.edu>
 */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#333;
	margin:0;
	padding:0;
}

header {
	background-color:#9999CC;
	padding:1em;
}
header > h1 {
	color:#FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	color:#006;
}

ul {
	padding-left:1.5em;
}

h1{ font-size: 2em; }
h2{ font-size: 1.8em; }
h3{ font-size: 1.6em; }
h4{ font-size: 1.3em; }
h5{ font-size: 1.2em; }
h6{ font-size: 1.1em; }

a, a:visited{
	color:#009;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

#search-bar {
	height: 1.5em;
	background-color:#669;
}

#lineage{
	margin-top:-1em;
}

#class-list{
	min-height:400px;
	padding:1em 1%;
	width:23%;
	float:left;
}

#class-list > h3 {
	border-bottom: 1px solid #CCCCCC;
	padding-bottom:0.25em;
}

#class-list > ul {
	padding-left:1em;
}

#class-list > ul > li {
	padding:0.25em 0;
	font-size:0.85em;
}

#api {
	min-height:400px;
	padding:1em 1%;
	float:right;
	width:73%;
	line-height:1.6em;
}

footer {
	clear:both;
	padding:0.25em 0.5em;
	background-color:#CCC;
	font-size:0.8em;
	text-align:right;
}

/** Per page styles **/
#tags {
	background-color:#E1E1E1;
	border:1px solid #000;
	padding:0.5em;
	overflow:auto;
}

#tags dt {
	clear: both;
    float: left;
    margin: 0;
    width: 25%;
	font-weight:bold;
}

#tags dd {
	float:right;
	width:75%;
	clear:right;
	margin:0;
	padding:0;
}

#toc {
	overflow:auto;
}

#toc .section {
	float:left;
	width:33.33%;
}

#toc, #constants, #properties {
	margin-bottom:2em;
}

#methods > h2, #properties > h2, #constants > h2 {
	padding-bottom:0.25em;
	margin-bottom:0.5em;
	border-bottom:2px solid #CCCCCC;
}

#methods > section {
	margin-bottom:1em;
	background-color:#EEEEFF;
	border:2px solid #CCCCCC;
	padding:1em;
}

.constant > h4, .property > h4, .method > h4 {
	font-weight:normal;
}

.method > h4 {
	background-color: #E0E0E0;
    font-size: 1.4em;
    margin: -16px -16px 1em;
    padding: 15px;
}

span.name {
	font-weight:bold;
}

pre.source {
	font-size: 13px;
}

small {
	color:#007700;
}
