/* =============================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$colorBlue: #007ECC;
$colorLightBlue: #E5F5FF;
$colorGreen: #61BD00;

/* Grid
   ========================================================================== */

$gridColumns: 12;
$gridGutter: 2%;
$gridSize: (100% - (($gridColumns - 1) * $gridGutter)) / $gridColumns;